:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --dark-grey: hsl(0, 0%, 48%);
  --moderate-cyan2: hsla(176, 50%, 47%, 0.3);
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header-image {
  background-image: url("./images/image-hero-desktop.jpg");
  background-size: 100vw 400px;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  position: relative;
}

nav,
.hamburger-holder {
  list-style-type: none;
  padding-top: 1.5rem;
}

.logo {
  text-align: center;
  padding-top: 1.5rem;
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.top-div {
  transform: translateY(-50%);
  justify-self: center;
  margin: 0% 25%;
  text-align: center;
  background-color: white;
  padding-bottom: 1.8rem;
  border-radius: 1rem;
}
.top-div h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mastercraft {
  transform: translateY(-50%);
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-top: 1rem;
}
button {
  height: 2.8rem;
  border-radius: 120px;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  background-color: var(--moderate-cyan);
  color: white;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background-color: var(--dark-cyan);
}
.bookmark {
  height: 2.8rem;
  border-radius: 120px;
  position: relative;
  display: grid;
  align-content: space-around;
  width: 10rem;
  background-color: lightgrey;
  margin-top: 1rem;
  background-image: url("./images/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: 2.8rem;
  cursor: pointer;
}
.bookmarked {
  background-image: url("./images/icon-bookmark2.svg");
  color: var(--dark-cyan);
  background-color: var(--moderate-cyan2);
}

.bookmark-image {
  height: 2.8rem;
  position: absolute;
  top: 0;
  left: 0;
}

.bookmarktext {
  padding-left: 1.4rem;
  font-weight: 700;
}

.money-container,
.pledge-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0% 25%;
  align-content: center;
  background-color: white;
  transform: translateY(-110px);
  padding: 2% 0;
  margin-top: 0.8rem;
  border-radius: 1rem;
}

.pledge-container {
  transform: translateY(-100px);
  grid-template-columns: auto;
  padding: 3rem;
  padding-top: 1rem;
  color: var(--dark-grey);
  line-height: 1.5;
}
.container-modal {
  transform: translateY(0);
  padding: 1rem;
}
.modal-description {
  grid-column: 2 / span 3;
  text-align: left;
}
.primary {
  font-weight: 800;
  padding-left: 2rem;
  font-size: 2rem;
}
.option {
  font-weight: 400;
  padding-left: 2rem;
}

.progressbar {
  position: relative;
  display: block;
  border-radius: 80px;
  height: 1rem;
  background-color: #f2f2f2;
  grid-column: 1 / span3;
  margin: 2rem 2rem 1rem 1rem;
}

.progressbar span {
  width: 89%;
  background-color: var(--moderate-cyan);
  display: inline-block;
  height: 1rem;
  overflow: hidden;
  border-radius: 80px;
}

.pledge-div {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1.5rem;
}

.pledge-div button {
  width: 10rem;
  margin: 0;
}

.pledge-desc {
  grid-column: 1 / span 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
label {
  font-weight: 700;
  color: black;
}
h2,
.pledge-heading,
.pledge-remaining,
.pledge-remaining-number {
  color: black;
  font-weight: 700;
  text-align: left;
  font-size: 1.8rem;
}
.pledge-amount {
  font-weight: 700;
  color: var(--moderate-cyan);
}
.pledge-remaining :last-child {
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 1rem;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  transform: translateY(50%);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}

.modal-pledge-div {
  grid-template-columns: 4% 30% 30% 30%;
  margin: 0;
  padding: 1rem;
  padding-top: 0.5rem;
  text-align: left;
  margin-top: 0.5rem;
  display: grid;
}
.no-pledge-option {
  grid-template-columns: 6% 90%;
}
.row-text {
  grid-column: 1 / 2;
  margin: auto;
}

.input-number {
  font-size: 2rem;
  width: 1rem;
  height: 1rem;
}

input[type="radio"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.2s all linear;
  background-color: var(--moderate-cyan);
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  outline: 1px solid lightgray;
  outline-offset: 4px;
}
.container-optional {
  grid-column: 1 / span 4;
  width: 100% - 4px;
  display: grid;
  grid-template-columns: 30% 65%;
  border-top: 1px solid var(--dark-grey);
  margin-top: 1rem;
}
.amount-holder {
  display: inline-block;
}
.amount-holder input {
  width: 80px;
  border: none;
}
.submit-pledge {
  text-align: right;
  padding: 1rem;
}

.modal-selected {
  border: 2px solid var(--moderate-cyan) !important;
}
.submit-pledge input {
  margin-right: 1rem;
}
.container-optional {
  display: none;
}
.optional-visible {
  display: block;
}

#modalS {
  margin: auto;
}
#modalS .modal-content {
  width: 33%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal-content h2 {
  text-align: center;
}
.check {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.hamburger-holder {
  display: none;
}
.outOfStock {
  opacity: 0.5;
}
.outOfStockGrey {
  background-color: grey;
}
@media only screen and (max-width: 850px) {
  .header-image {
    background-image: url("./images/image-hero-mobile.jpg");
    background-size: 100vw 400px;
  }
  .top-div,
  .money-container,
  .pledge-container {
    margin: 1rem;
    border-radius: 8px;
    padding: 1rem;
  }
  .nav-div {
    display: none;
  }
  .hamburger-holder {
    display: block;
  }
  .bookmarktext {
    display: none;
  }
  .bookmark {
    height: 2.8rem;
    width: 2.8rem;
  }
  .money-container {
    margin: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
    display: grid;
    padding: 1rem;
    justify-content: center;
    position: relative;
  }
  .money-container div {
    padding-top: 1rem;
    width: 86vw;
    text-align: center;
    padding-left: 0;
  }
  .item1 {
    grid-row: 1;
  }
  .item2 {
    grid-row: 2;
  }
  .item3 {
    grid-row: 3;
  }
  .progressbar {
    grid-column: 1;
    margin: 0;
    padding: 0;
    margin-top: 1rem;

    text-align: left !important;
    padding-top: 0 !important;
  }

  .progressbar span {
    padding: 0;
    margin: 0;
  }

  .pledge-div {
    display: block;
    justify-content: flex-start;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1.5rem;
  }

  h2,
  .pledge-heading {
    font-size: 1.2rem;
  }
  .pledge-remaining {
    margin-bottom: 1rem;
  }
  .tbc {
    padding-left: 10%;
    padding-right: 10%;
    width: 50vw;
    margin-right: 1rem;
  }
  .button-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .modal-content {
    width: 90%;
  }

  .modal-pledge-div {
    grid-template-columns: 8% 80%;
    grid-template-rows: auto;
    margin: 0;
    padding-top: 0.5rem;
    text-align: left;
    margin-top: 0.5rem;
    display: grid;
    padding: 1rem;
    color: grey;
  }
  .no-pledge-option {
    grid-template-columns: 8% 80%;
  }
  .modal-description {
    grid-column: 1 / span2;
    margin: auto;
    order: 1;
    padding-top: 1rem;
  }

  .pledge-amount {
    grid-row: 2;
    grid-column: 2;
  }
  .pledge-remaining-number-div {
    grid-column: 1 / span2;
    grid-row: 4;
  }
  .container-optional {
    grid-column: 1 / span2;
    grid-row: 5;
  }
  #modalS .modal-content {
    width: 90%;
  }
  #modalM .modal-content {
    width: 90%;
    border-radius: 8px;
    margin: auto;
    padding: 0;
  }
  #modalM {
    padding-top: 15%;
  }

  .modal-nav {
    display: grid;
    grid-template-columns: auto;
  }
  .modal-nav a {
    color: black;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid lightgrey;
    padding-left: 2rem;
    font-weight: 500;
  }
  .modal-nav a:last-of-type {
    border: none;
  }
  .modal-nav a:first-of-type {
    padding-top: 0;
  }
  #closeH,
  .logoM {
    position: absolute;
    top: 2%;
    z-index: 3;
    right: 5rem;
    color: white;
  }
  .logoM {
    left: 5rem;
  }

  .modal-content {
    transform: translateY(10%);
  }
  .input-holder {
    display: grid;
    grid-row: 1 / span 2;
  }
  .input-number {
    align-self: center;
  }
}
